$background-light : #fff;
$background-dark: #333;
$accent-color: #199dd0;
$link-color : darken($accent-color, 10%);

@mixin rounded {
  border-radius: 5px;
}

body {
  background-color: lighten($accent-color, 20%);
  font-weight: 300;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 710px;
}

header {
  padding-top: 20px;

  img{
    padding: 1em;
    background: $background-light;
  }
}

section {
  margin-top: 1em;
  font-size: 16px;
  padding: 20px;
  background: $background-light;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: #069;
    text-decoration: underline;
  }
  &:visited {
    color: #069;
  }
}

nav {
  float: right;
  background-color: $background-light;
  padding: 0 1em;
  white-space: nowrap;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      padding: 0.5em 1em;

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.signup-button {
  max-width: 50%;
  margin: 0 auto;
  display: block;
  text-align: center;
  color: $background-light;
  background: $accent-color;
  font-size: 1.5em;
  font-weight: 900;
  padding: 1em;

  &:hover {
    text-decoration: none;
    background-color: darken($accent-color, 10%);
    color: #fff;
  }
  &:visited {
    color: $background-light;
  }
}

.round {
  border-radius: 5px;
}

footer nav {
  margin: 10px auto;
  float: none;
  display: block;

  li {
    margin: 0.5em 0.5em;
  }
}

// =================== User Profile Page ===================

section h1 {
  font-size: 2em;
}

.main-info {
  display: inline-block;
}

.more-info {
  float: right;
  display: block;
  background: lighten($accent-color, 45%);
  padding: 1em;

  p {
    margin-bottom: 0.25em;
    font-size: 12px;
  }
}

.gravatar {
  margin-bottom: -15px;
  border-radius: 5px
}

// =================== User Signup Page ===================

.signup-form-container {
  width: 50%;
  margin: 0 auto;
}

input[type=text], input[type=email], input[type=password] {
  font-size: 16px;
  padding: 0.5em 0;
  margin: 4px 0 19px 0;
  width: 100%;
  @include rounded;

}

.actions input[type=submit] {
  font-size: 32px;
  padding: .25em 2em;
  background-color: $accent-color;
  color: $background-light;
  text-transform: uppercase;  
  width: 100%;
  @include rounded;
}

// =================== Errors Partial ===================

#error-explanation {
  background-color: #ffe0e0;
  border-radius: 5px;
  padding: .5em 1em;
  margin-bottom: 1em;
  border: 1px solid #FF7E7E;
  @include rounded;
}

.field_with_errors input, .field_with_errors label{
  color: #FF7E7E;
}

.field_with_errors input {
  border: 1px solid #FF7E7E;
}


#error-explanation p, #error-explanation li {
font-size: 12px;
margin: 0.5em 0;
padding-left: 0;
}

#error-explanation li {
  color: #ec6363;
  font-weight: 700;
}

#error-explanation h2 {
font-size: 1em;
margin-bottom: 0;
}

// =================== Users Index List ===================

.users {
  li {
    margin: 30px
  }
  .gravatar {
    margin-bottom: -10px;
  }
}