%footer
  %nav.round
    %ul
      %li
        -# = link_to 'Home', home_url
      %li
        -# = link_to 'About', about_url
      %li
        -# = link_to 'Contact', contact_url
      %li
        %a{:href => "http://railstutorial.org/news"} News
      %li
        %a{:href => "http://railstutorial.org"} Rails Tutorial