%footer
  %nav.round
    %ul
      %li
        %a{:href => "#"} About
      %li
        %a{:href => "#"} Contact
      %li
        %a{:href => "http://railstutorial.org/news"} News
      %li
        %a{:href => "http://railstutorial.org"} Rails Tutorial