%header
  %img.round{:src => "/images/logo.png", :alt => "Sample App"}
  %nav.round
    %ul
      %li
        %a{:href => "#"} Home
      %li
        %a{:href => "#"} Help
      %li
        %a{:href => "#"} Sign In